<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>machine_speed_direction</key>
	<string>c56a000c050009%02lx0708%02x%02x%02x%02x%04x</string>
	<key>machine_speed</key>
	<string>c56a000c050009%02lx0708%02x%02xffffffff</string>
	<key>machine_stop</key>
	<string>c56a000c050009%02lx0708000000000000</string>
	<key>machine_two_stop</key>
	<string>c56a000c050009%02lx0708010000000000</string>
	<key>fan_stop</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>fan_speed</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>machine_swing</key>
	<string></string>
	<key>animation_image</key>
	<string></string>
	<key>animation_color</key>
	<string></string>
	<key>animation_rotation</key>
	<string></string>
	<key>animation_move</key>
	<string></string>
	<key>animation_set_XY</key>
	<string></string>
	<key>animation_animate</key>
	<string></string>
	<key>animation_text</key>
	<string></string>
	<key>animation_text_color</key>
	<string></string>
	<key>animation_speed</key>
	<string></string>
	<key>light_on_off</key>
	<string>c56a0009050006%02lx020d%02lx</string>
	<key>light_caution_on_off</key>
	<string></string>
	<key>light_color</key>
	<string>c56a0009050006%02lx020d%02lx</string>
	<key>highlight_level</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>highlight_on_off</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>light1</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>light2</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>daily_words</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>music_sound</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>animal_sound</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>transport_sound</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>buzzer_level</key>
	<string>c56a0008050005%02lx010B%02x00</string>
	<key>port_out</key>
	<string></string>
	<key>port_on_off</key>
	<string></string>
	<key>wait_port_open</key>
	<string></string>
	<key>wait_do</key>
	<string></string>
	<key>function</key>
	<string></string>
	<key>do_function</key>
	<string></string>
	<key>long_time</key>
	<string></string>
	<key>random_time</key>
	<string></string>
	<key>always_repeat</key>
	<string></string>
	<key>repetition_num</key>
	<string></string>
	<key>repetition_until1</key>
	<string></string>
	<key>repetition_until2</key>
	<string></string>
	<key>if</key>
	<string></string>
	<key>if2</key>
	<string></string>
	<key>if_else</key>
	<string></string>
	<key>if_else2</key>
	<string></string>
	<key>set_value</key>
	<string></string>
	<key>use_change</key>
	<string></string>
	<key>do_some</key>
	<string></string>
	<key>variable_repetition_num</key>
	<string></string>
	<key>variable_repetition</key>
	<string></string>
	<key>variable_if</key>
	<string></string>
	<key>variable_if_else</key>
	<string></string>
</dict>
</plist>
