<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>while</key>
	<string>c56a000608000301%02lx01  </string>
	<key>红外线</key>
	<string>c56a00080d00050101010002</string>
	<key>超声波</key>
	<string>c56a00080d0005080104ff00</string>
	<key>声控</key>
	<string>c56a00080d00050201010002</string>
	<key>颜色</key>
	<string>c56a00080d00050801040002</string>
	<key>move_ahead</key>
	<string>c56a000c050009%02lx070801%02x%02x%02x%04x</string>
	<key>move_back</key>
	<string>c56a000c050009%02lx070802%02x%02x%02x%04x</string>
	<key>move_stop</key>
	<string>c56a000c050009%02lx0708000000000000</string>
	<key>machine_speed_direction</key>
	<string>c56a000c050009%02lx0708%02x%02x%02x%02x%04x</string>
	<key>machine_speed</key>
	<string>c56a000c050009%02lx0708%02x%02xffffffff</string>
	<key>machine_stop</key>
	<string>c56a000c050009%02lx0708000000000000</string>
	<key>machine_two_stop</key>
	<string>c56a000c050009%02lx0708010000000000</string>
	<key>fan_stop</key>
	<string>c56a000c050009%02lx0708010000000000</string>
	<key>fan_speed</key>
	<string>c56a000c050009%02lx0708010000000000</string>
	<key>machine_swing</key>
	<string></string>
	<key>light_on_off</key>
	<string>c56a0009050006%02lx020d%02lx</string>
	<key>light_caution_on_off</key>
	<string></string>
	<key>light_color</key>
	<string>c56a0009050006%02lx020d%02lx</string>
	<key>highlight_level</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>highlight_on_off</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>light1</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>light2</key>
	<string>c56a0008050005%02lx010a%02x00</string>
	<key>daily_words</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>music_sound</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>animal_sound</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>transport_sound</key>
	<string>c56a00060f0003%02lx01%02x</string>
	<key>buzzer_on_off</key>
	<string>c56a0008050005%02lx010B%02x00</string>
	<key>buzzer_level</key>
	<string>c56a0008050005%02lx010B%02x00</string>
	<key>own_sound</key>
	<string></string>
	<key>function</key>
	<string></string>
	<key>do_function</key>
	<string></string>
	<key>long_time</key>
	<string></string>
	<key>random_time</key>
	<string></string>
	<key>always_repeat</key>
	<string></string>
	<key>repetition_num</key>
	<string></string>
	<key>repetition_until1</key>
	<string></string>
	<key>repetition_until2</key>
	<string></string>
	<key>if</key>
	<string></string>
	<key>if2</key>
	<string></string>
	<key>if_else</key>
	<string></string>
	<key>if_else2</key>
	<string></string>
	<key>set_value</key>
	<string></string>
	<key>use_change</key>
	<string></string>
	<key>do_some</key>
	<string></string>
	<key>variable_repetition_num</key>
	<string></string>
	<key>variable_repetition</key>
	<string></string>
	<key>variable_if</key>
	<string></string>
	<key>variable_if_else</key>
	<string></string>
</dict>
</plist>
