<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>out_type</key>
	<array>
		<string>数字</string>
		<string>模拟</string>
	</array>
	<key>while</key>
	<array>
		<string>IN1</string>
		<string>IN2</string>
		<string>IN3</string>
	</array>
	<key>wait_do</key>
	<array>
		<string>IN1</string>
		<string>IN2</string>
		<string>IN3</string>
	</array>
	<key>machine_speed_direction</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>machine_speed</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>machine_stop</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>machine_two_stop</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>fan_stop</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>fan_speed</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>machine_swing</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>light_on_off</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>light_caution_on_off</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>light_color</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>highlight_level</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>highlight_on_off</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>light1</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>light2</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>daily_words</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>music_sound</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>animal_sound</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>transport_sound</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>buzzer_on_off</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>buzzer_level</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>own_sound</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>port_on_off</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>port_type</key>
	<array>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>port_in</key>
	<array>
		<string>IN1</string>
		<string>IN2</string>
		<string>IN3</string>
	</array>
	<key>port_out</key>
	<array>
		<string>OUT1</string>
		<string>OUT2</string>
		<string>OUT3</string>
	</array>
	<key>function</key>
	<array/>
	<key>do_function</key>
	<array/>
	<key>long_time</key>
	<array/>
	<key>random_time</key>
	<array/>
	<key>always_repeat</key>
	<array/>
	<key>repetition_num</key>
	<array/>
	<key>repetition_until1</key>
	<array>
		<string>IN1</string>
		<string>IN2</string>
		<string>IN3</string>
	</array>
	<key>repetition_until2</key>
	<array/>
	<key>if</key>
	<array>
		<string>IN1</string>
		<string>IN2</string>
		<string>IN3</string>
	</array>
	<key>if2</key>
	<array/>
	<key>if_else</key>
	<array>
		<string>IN1</string>
		<string>IN2</string>
		<string>IN3</string>
	</array>
	<key>if_else2</key>
	<array/>
	<key>set_value</key>
	<array/>
	<key>use_change</key>
	<array/>
	<key>do_some</key>
	<array/>
	<key>variable_repetition_num</key>
	<array/>
	<key>variable_repetition</key>
	<array/>
	<key>variable_if</key>
	<array/>
	<key>variable_if_else</key>
	<array/>
</dict>
</plist>
